.profile-content
  .text-center
    %h3 Food Receiver Agency Intake
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Verify Tax Status
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Enter Contact Details
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Enter Agency Info
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Enter Client Demographics
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Enter Food Restrictions
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Enter Donation Acceptance Schedule
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 8: Confirm & Finish
        .panel-body
          = simple_form_for(@user) do |f|
            = f.error_notification
            = f.input :intake_survey_completed, as: :boolean, unchecked_value: nil, label: "I agree that all of the above information entered is correct to the best of my knowledge."
            %hr
              .text-center
                = f.button :submit, "Save & Continue", { class: 'btn btn-success' }
