.profile-content
  %h3 Food Receiver Agency Intake
  = simple_form_for @user, url: check_verification_receiver_path(@user), method: :get do |f|
    = f.error_notification
    .form-inputs
      .row
        .col-md-6
          %h4 Step 1: Verify Tax Status
      .row
        .col-md-6
          = f.input :tax_id, label: 'Tax ID/EIN', hint: "Don't include any dashes or special characters"
          = f.submit 'Verify me!', class: 'btn btn-success'
