.profile-content
  %h3 Dashboard
  = simple_form_for [@user, @new_donation] do |f|
    = f.error_notification
    = f.button :submit, 'Start New Donation', class: 'btn btn-success btn-md'

  .pull-right
    = link_to 'Edit Profile', edit_donor_path(@user)
