%h1 Log In as...

- %w[donor receiver].each do |role|
  .col-md-6
    .btn.btn-primary.btn-login
      %h1
        = link_to "#{role.titleize}", polymorphic_path("new_#{role}_session")

= link_to "admin login", new_admin_session_path
