%nav#floating-nav
  %div
    Welcome
  %div
    Photos
  %div
    News
  %div
    %h1#jumbo-header Urban Harvester
    -# %h2 a scalable solution to hunger in our communities
  %div
    Contact
  %div
    Donate
  %div
    Sign In / Register
